# Trigger a full workspace run
[workspace]
resolver = "2"
members = [
    "base16ct",
    "base64ct",
    "const-oid",
    "der",
    "der/derive",
    "pem-rfc7468",
    "pkcs1",
    "pkcs5",
    "pkcs7",
    "pkcs8",
    "pkcs10",
    "sec1",
    "spki",
    "ssh-key",
    "tai64",
    "tls_codec",
    "tls_codec/derive",
    "x501",
    "x509",
    "x509-ext"
]
