# Trigger a full workspace run
[workspace]
resolver = "2"
members = [
    "base16ct",
    "base64ct",
    "const-oid",
    "crypto-serde",
    "der",
    "der/derive",
    "pem-rfc7468",
    "pkcs1",
    "pkcs5",
    "pkcs7",
    "pkcs8",
    "sec1",
    "spki",
    "ssh-key",
    "tai64",
    "tls_codec",
    "tls_codec/derive",
    "x509"
]

[profile.dev]
opt-level = 2
