[package]
name = "ssh-key"
version = "0.3.0-pre" # Also update html_root_url in lib.rs when bumping this
description = """
Pure Rust implementation of SSH key file format decoders/encoders as described
in RFC4253 and RFC4716 as well as the OpenSSH key formats and `authorized_keys`.
Supports "heapless" `no_std` embedded targets with an optional `alloc` feature.
"""
authors = ["RustCrypto Developers"]
license = "Apache-2.0 OR MIT"
repository = "https://github.com/RustCrypto/formats/tree/master/ssh-key"
categories = ["cryptography", "data-structures", "encoding", "no-std", "parser-implementations"]
keywords = ["crypto", "key", "openssh", "ssh"]
readme = "README.md"
edition = "2021"
rust-version = "1.57"

[dependencies]
base64ct = { version = "1.4", path = "../base64ct" }
pem-rfc7468 = { version = "=0.4.0-pre.0", path = "../pem-rfc7468" }
zeroize = { version = "1", default-features = false }

# optional dependencies
sec1 = { version = "=0.3.0-pre", optional = true, default-features = false, path = "../sec1" }
subtle = { version = "2", optional = true, default-features = false }

[dev-dependencies]
hex-literal = "0.3"
tempfile = "3"

[features]
default = ["alloc", "ecdsa"]
alloc = ["zeroize/alloc"]
ecdsa = ["sec1"]
std = ["alloc", "base64ct/std"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
