[package]
name = "x509-ocsp"
version = "0.3.0-pre"
description = """
Pure Rust implementation of the X.509 Internet Public Key Infrastructure
Online Certificate Status Protocol - OCSP formats as described in RFC 6960
"""
authors = ["RustCrypto Developers"]
license = "Apache-2.0 OR MIT"
homepage = "https://github.com/RustCrypto/formats/tree/master/x509-ocsp"
repository = "https://github.com/RustCrypto/formats"
categories = ["cryptography", "data-structures", "encoding", "no-std"]
keywords = ["crypto", "x509"]
readme = "README.md"
edition = "2024"
rust-version = "1.85"

[dependencies]
const-oid = { version = "0.10", default-features = false, features = ["db"] }
der = { version = "0.8.0-rc.10", features = ["alloc", "derive", "oid"] }
spki = { version = "0.8.0-rc.4", features = ["alloc"] }
x509-cert = { version = "0.3.0-rc.4", default-features = false }

# Optional
digest = { version = "0.11.0-rc.11", optional = true, default-features = false, features = ["oid"] }
rand_core = { version = "0.10", optional = true, default-features = false }
signature = { version = "3.0.0-rc.10", optional = true, default-features = false, features = ["digest", "rand_core"] }

[dev-dependencies]
hex-literal = "1"
lazy_static = "1.5.0"
rand = "0.10.0-rc.8"
rsa = { version = "0.10.0-rc.15", default-features = false, features = ["encoding", "sha2"] }
sha1 = { version = "0.11.0-rc.5", default-features = false, features = ["oid"] }
sha2 = { version = "0.11.0-rc.5", default-features = false, features = ["oid"] }

[features]
rand = ["rand_core"]
builder = ["digest", "rand", "signature"]
std = ["der/std", "x509-cert/std"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
