[package]
name = "x509-ocsp"
version = "0.3.0-pre"
description = """
Pure Rust implementation of the X.509 Internet Public Key Infrastructure
Online Certificate Status Protocol - OCSP formats as described in RFC 6960
"""
authors = ["RustCrypto Developers"]
license = "Apache-2.0 OR MIT"
repository = "https://github.com/RustCrypto/formats/tree/master/x509-ocsp"
categories = ["cryptography", "data-structures", "encoding", "no-std"]
keywords = ["crypto", "x509"]
readme = "README.md"
edition = "2021"
rust-version = "1.72"

[dependencies]
const-oid = { version = "=0.10.0-pre.2", default-features = false, features = ["db"] }
der = { version = "=0.8.0-pre.0", features = ["alloc", "derive", "oid"] }
spki = { version = "=0.8.0-pre.0", features = ["alloc"] }
x509-cert = { version = "=0.3.0-pre", default-features = false }

# Optional
digest = { version = "=0.11.0-pre.7", optional = true, default-features = false, features = ["oid"] }
rand_core = { version = "0.6.4", optional = true, default-features = false }
signature = { version = "=2.3.0-pre.2", optional = true, default-features = false, features = ["digest", "rand_core"] }

[dev-dependencies]
hex-literal = "0.4.1"
lazy_static = "1.4.0"
rand = "0.8.5"
rsa = { version = "=0.10.0-pre.0", default-features = false, features = ["sha2"] }
sha1 = { version = "=0.11.0-pre.2", default-features = false, features = ["oid"] }
sha2 = { version = "=0.11.0-pre.2", default-features = false, features = ["oid"] }

[features]
rand = ["rand_core"]
builder = ["digest", "rand", "signature"]
std = ["der/std", "x509-cert/std"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
