[package]
name = "cms"
version = "0.2.3"
description = """
Pure Rust implementation of the Cryptographic Message Syntax (CMS) as described in RFC 5652 and RFC 3274.
"""
authors = ["RustCrypto Developers"]
license = "Apache-2.0 OR MIT"
repository = "https://github.com/RustCrypto/formats/tree/master/cms"
categories = ["cryptography", "encoding", "no-std", "parser-implementations"]
keywords = ["crypto", "pkcs7", "signing"]
readme = "README.md"
edition = "2021"
rust-version = "1.65"

[dependencies]
der = { version = "0.7.7", features = ["alloc", "derive", "oid", "pem"] }
spki = { version = "0.7" }
x509-cert = { version = "0.2.3", default-features = false, features = ["pem"] }
const-oid = { version = "0.9.4", features = ["db"] }

# optional dependencies
aes = { version = "0.8.2", optional = true }
cbc = { version = "0.1.2", optional = true }
cipher = { version = "0.4.4", features = ["alloc", "block-padding", "rand_core"], optional = true }
rsa = { version = "0.9.6", optional = true }
sha1 = { version = "0.10", optional = true }
sha2 = { version = "0.10", optional = true }
sha3 = { version = "0.10", optional = true }
signature = { version = "2.1.0", features = ["digest", "alloc"], optional = true }
zeroize = { version = "1.6.0", optional = true }

[dev-dependencies]
getrandom = "0.2"
hex-literal = "0.4"
pem-rfc7468 = "0.7.0"
pkcs5 = "0.7"
rand = "0.8.5"
rsa = { version = "0.9.6", features = ["sha2"] }
ecdsa = { version = "0.16.8", features = ["digest", "pem"] }
p256 = "0.13.0"

[features]
alloc = ["der/alloc"]
std = ["der/std", "spki/std"]
builder = ["aes", "cbc", "cipher", "rsa", "sha1", "sha2", "sha3", "signature", "std", "spki/alloc", "x509-cert/builder", "zeroize"]
pem = ["alloc", "der/pem"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
