[package]
name = "cms"
version = "0.3.0-pre"
description = """
Pure Rust implementation of the Cryptographic Message Syntax (CMS) as described in RFC 5652 and RFC 3274.
"""
authors = ["RustCrypto Developers"]
license = "Apache-2.0 OR MIT"
homepage = "https://github.com/RustCrypto/formats/tree/master/cms"
repository = "https://github.com/RustCrypto/formats"
categories = ["cryptography", "encoding", "no-std", "parser-implementations"]
keywords = ["crypto", "pkcs7", "signing"]
readme = "README.md"
edition = "2021"
rust-version = "1.75"

[dependencies]
der = { version = "0.8.0-rc.0", features = ["alloc", "derive", "oid", "pem"] }
spki = { version = "0.8.0-rc.0" }
x509-cert = { version = "=0.3.0-pre", default-features = false, features = ["pem"] }
const-oid = { version = "0.10.0-rc.0", features = ["db"] }

# optional dependencies
aes = { version = "=0.9.0-pre.1", optional = true }
cbc = { version = "=0.2.0-pre.1", optional = true }
cipher = { version = "=0.5.0-pre.6", features = ["alloc", "block-padding", "rand_core"], optional = true }
rsa = { version = "=0.10.0-pre.2", optional = true }
sha1 = { version = "=0.11.0-pre.4", optional = true }
sha2 = { version = "=0.11.0-pre.4", optional = true }
sha3 = { version = "=0.11.0-pre.4", optional = true }
signature = { version = "=2.3.0-pre.4", features = ["digest", "alloc"], optional = true }
zeroize = { version = "1.8.1", optional = true }

[dev-dependencies]
getrandom = "0.2"
hex-literal = "0.4"
pem-rfc7468 = "1.0.0-rc.1"
pkcs5 = "=0.8.0-rc.0"
rand = "0.8.5"
rsa = { version = "=0.10.0-pre.2", features = ["sha2"] }
ecdsa = { version = "=0.17.0-pre.7", features = ["digest", "pem"] }
p256 = "=0.14.0-pre.1"

[features]
alloc = ["der/alloc"]
std = ["der/std", "spki/std"]
builder = ["aes", "cbc", "cipher", "rsa", "sha1", "sha2", "sha3", "signature", "std", "spki/alloc", "x509-cert/builder", "zeroize"]
pem = ["alloc", "der/pem"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
