[package]
name = "x509-tsp"
version = "0.2.0-pre"
edition = "2024"
description = """
Pure Rust implementation of the Timestamping Protocol as described in RFC 3161.
"""
authors = ["RustCrypto Developers"]
license = "Apache-2.0 OR MIT"
homepage = "https://github.com/RustCrypto/formats/tree/master/x509-tsp"
repository = "https://github.com/RustCrypto/formats"
categories = ["cryptography", "encoding", "no-std", "parser-implementations"]
keywords = ["crypto", "tsp", "timestamp"]
readme = "README.md"
rust-version = "1.85"

[dependencies]
der = { version = "0.8", features = ["alloc", "derive", "oid", "pem"] }
cms = { version = "=0.3.0-pre.2" }
cmpv2 = { version = "=0.3.0-pre.0", features = ["alloc"] }
x509-cert = { version = "0.3.0-rc.4", default-features = false }

[dev-dependencies]
hex-literal = "1"
